name: website
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Set Env
        run: |
          echo "OWNER_NAME=$(echo "$GITHUB_REPOSITORY" | awk -F / '{print $1}')" >> $GITHUB_ENV
          echo "REPO_NAME=$(echo "$GITHUB_REPOSITORY" | awk -F / '{print $2}')" >> $GITHUB_ENV
          echo "CURRENT_VERSION=$(node -p 'require("./package.json").version')" >> $GITHUB_ENV
      - name: Install
        run: yarn install
      - name: Build
        run: |
          yarn install
          npm run website -- --metadataVersion="${CURRENT_VERSION}"
        env:
          OWNER_NAME: ${{ env.OWNER_NAME }}
          REPO_NAME: ${{ env.REPO_NAME }}
          CURRENT_VERSION: ${{ env.CURRENT_VERSION }}
        working-directory: example/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./example/dist
